
<li>Drink Name: {{drinkName}}</li>
<br>
<li>Difficulty: {{difficulty}}</li>
<br>
<li>Rating: {{rating}}</li>
<br>
<li>Strength: {{strength}}</li>
<br>
<li>Flavor: {{flavor}}</li>
<br>
<li>Alcohol Types: {{alcoholTypes}}</li>
<br>
<li>Ingredients: {{ingredients}}</li>
<br>
<li>Tools: {{tools}}</li>
<br>
<li>Preparation Info: {{prepInfo}}</li>
<br>


<a href="/search">Back to search</a>
